{% load static %}
{% load iconatron %}

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>Iconatron</title>
        <style>
            @keyframes slideAndOpacity {
                0% {
                    transform: translateY(-100%);
                    opacity: 0;
                }
                100%{
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            header{
                animation: 0.5s ease-out 0s 1 slideAndOpacity;
            }

            .list svg:hover{
                fill: #1A77FF;
            }
            #downBtn{
                fill: white;
            }
        </style>
    </head>
    <body onload="getNumber()">
        <nav class="navbar sticky-top navbar-dark  justify-content-center" style="background-color: black">
            <a>
                <img src="{% static "LogoText.svg"%}"height="45">
                <img src="{% static "LogoImg.svg"%}" height="60">
            </a>
        </nav>
        <header class="container text-center" style="margin-top: 5%">
            <h1 style="margin-bottom: 2%">Iconatron</h1>
            <p class="text-muted" style="font-size: 2em">Iconatron is an icon package specially for "Django"</p>
            <p class="text-muted" style="font-size: 2em" >
                <a>Today: </a>
                <a id="num"></a>
            </p>
            <a role="button" href="https://github.com/MichailZh/Iconatron/archive/master.zip" id="downBtn" class="btn btn-primary">Download {% iconatron "Download" %}</a>
            <a role="button" href="https://github.com/MichailZh/Iconatron" class="btn btn-outline-secondary">Page on Git</a>
        </header>

        <div class="container text-center" style="margin-top: 5%">
            <div class="mb-5 md-form mt-0">
                <input class="form-control" type="text" id="search" onkeyup="searchFunction()" placeholder="Find Icon..." >
            </div>
            <div class="row row-cols-3 row-cols-sm-3 row-cols-lg-5 row-cols-xl-5 list-unstyled list" id="list" style="font-size: 2em">
                {% for svg in svgs %}
                    <li>
                        <a role="button" class="d-block text-dark col-xs-4" onclick="modalWindowInfo('{{ svg }}')" id="icon" data-toggle="modal" data-target="#exampleModal">
                            <div class="p-3 py-4 bg-light text-center rounded" id="icon-{{ svg }}">
                                {% iconatron svg %}
                            </div>
                            <div class="name py-4 mb-3 text-muted text-center pt-1" style="font-size: 0.5em">
                                {{svg}}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="container" style="margin-top: 5%">
            <h1>Installation</h1>
            <div class="text-muted" style="margin-top: 2%">
            Follow this instruction to install "Iconatron" for Django
            </div>

        <div style="margin-top: 2%">
            <h2>Step 1</h2>
            <div class="text-muted" style="margin-top: 2%">
                Install "Iconatron" from
                <a href="https://pypi.org/">PYPI.org</a>
            </div>
            <pre class=" p-3 py-4 mb-2 mt-2 bg-light">$ <span>pip install iconatron</span></pre>
        </div>
            <div style="margin-top: 2%">
                <h2>Step 2</h2>
                <div class="text-muted" style="margin-top: 2%">
                    Add package to INSTALLED_APPS in settings.py file in your Django project
                </div>
                <pre class=" p-3 py-4 mb-2 mt-2 bg-light">$ <span>INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
                    ...
                'iconatron',
                    ...
]</span></pre>
            </div>
            <div style="margin-top: 2%">
                <h2>Step 3</h2>
                <div class="text-muted" style="margin-top: 2%">
                    Load template tag at the top of your Template
                </div>
                <pre class=" p-3 py-4 mb-2 mt-2 bg-light">$ <span>{</span><span>%</span> load iconatron <span>%}</span></pre>
            </div>
            <div style="margin-top: 2%">
                <h2>Step 4</h2>
                <div class="text-muted" style="margin-top: 2%">
                    Use following command (tag) in your template to add an Icon
                </div>
                <pre class=" p-3 py-4 mb-2 mt-2 bg-light">$ <span>{</span><span>%</span> iconatron <span>"</span><span>any_icon</span><span>" </span><span>%}</span></pre>
            </div>
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel"></h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">{% iconatron "Close" %}</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <a class="p-1" id="svgExample" style="font-size: 10em"></a>
                        <a style="margin-bottom: 10%" id="svgExample2"></a>
                        <h5>Django:</h5>
                        <pre class=" p-3 py-4 mb-2 mt-2 bg-light">$ <span>{</span><span>%</span> iconatron <span>"</span><span id="codeSvg"></span><span>" </span><span>%}</span></pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin-top: 2%">
        <div class="container" style="margin-top: 2%">
            <h1>Usage</h1>
            <div class="text-muted" style="margin-top: 2%">
                Examples of how to style SVGs
            </div>

            <div style="margin-top: 2%">
                <h2>Color changing</h2>
                <div class="text-muted" style="margin-top: 2%">
                    To change color of SVG Icon use the <kbd>fill</kbd>
                </div>
                <pre class=" p-3 bg-light"><span>$ svg {</span><p>  fill: white;</p><span>}</span></pre>
            </div>
            <div style="margin-top: 2%">
                <h2>Size Changing</h2>
                <div class="text-muted" style="margin-top: 2%">
                    To change size of SVG Icon use the <kbd>font-size</kbd>
                </div>
                <pre class=" p-3 py-4 mb-2 mt-2 bg-light"><span>$ style="font-size: 10em"</span></pre>
            </div>
{#            <div style="margin-top: 5%">#}
{#                <h2>Step 3</h2>#}
{#                <div class="text-muted" style="margin-top: 2%">#}
{#                    Load template tag at the top of your Template#}
{#                </div>#}
{#                <pre class=" p-3 py-4 mb-2 mt-2 bg-light">$ <span>{</span><span>%</span> load iconatron <span>%}</span></pre>#}
{#            </div>#}
{#            <div style="margin-top: 5%">#}
{#                <h2>Step 4</h2>#}
{#                <div class="text-muted" style="margin-top: 2%">#}
{#                    Use following command (tag) in your template to add an Icon#}
{#                </div>#}
{#                <pre class=" p-3 py-4 mb-2 mt-2 bg-light">$ <span>{</span><span>%</span> iconatron <span>"</span><span>any_icon</span><span>"</span><span>%}</span></pre>#}
{#            </div>#}
        </div>
        <hr style="margin-top: 5%">


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel"></h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">{% iconatron "Close" %}</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <a class="p-1" id="svgExample" style="font-size: 10em"></a>
                        <a style="margin-bottom: 10%" id="svgExample2"></a>
                        <h5>Django:</h5>
                        <pre class=" p-3 py-4 mb-2 mt-2 bg-light">$ <span>{</span><span>%</span> iconatron <span>"</span><span id="codeSvg"></span><span>"</span><span>%}</span></pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function modalWindowInfo(name){
                {#$('#exampleModalLabel').html(name);#}

                document.getElementById("exampleModalLabel").innerHTML = name;
                document.getElementById("codeSvg").innerHTML = name;
                document.getElementById("svgExample").innerHTML = document.getElementById("icon-"+ name).innerHTML;
                document.getElementById("svgExample2").innerHTML = document.getElementById("icon-"+ name).innerHTML;
            }

            function getNumber() {
                var icons, result;
                icons = list.getElementsByTagName('li');
                result = icons.length;
                $('#num').html(result + " Icons");
            }

            function searchFunction() {
                var input, filter, list, i, txt, icons, a;
                input = document.getElementById('search');
                filter = input.value.toUpperCase();
                list = document.getElementById('list');
                icons = list.getElementsByTagName('li');

                for(i = 0; i < icons.length; i++){
                    a = icons[i].getElementsByTagName("a")[0];
                    txt = a.textContent || a.innerText;
                    if(txt.toUpperCase().indexOf(filter) > -1){
                        icons[i].style.display = "";
                    }
                    else {
                        icons[i].style.display = "none";
                    }
                }
            }
        </script>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>